/* Ini CSS Exsternal */

.logo-company img {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }

 /* .container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
} */